.box {
  margin-bottom: 30px;
  position: relative;
  width: 377px;
  height: 90px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 10px 69px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  /* 动画属性 | 持续时间 | interplote函数 | 等几秒开始 */
  transition: opacity 0.5s 2.5s, margin 0.5s 2.5s;
}

.boxactive .progressbar {
  width: 100%;
}

.boxactive {
  opacity: 0;
  margin-bottom: -90px;
}

.progressbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #03a9f4;
  transition: width 2.5s linear;
}

.avatar {
  margin-left: 33px;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  user-select: none;
}

.userinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: auto;
  display: flex;
}

.username {
  margin-bottom: 6px;
  font-size: 16px;
  color: #131721;
  user-select: none;
}

.usertitle {
  font-size: 14px;
  color: #858997;
  user-select: none;
}

.closebox {
  margin-right: 28px;
  height: 50px;
  display: flex;
  flex-direction: column;
}
