.view {
  /* margin-top: 24px; */
  font-size: 17px;
  line-height: 27px;
  color: #8b8b8b;
  user-select: none;
}

.switch {
  /* margin-top: 24px; */
  font-size: 17px;
  line-height: 27px;
  color: #8b8b8b;
  user-select: none;
  cursor: pointer;
}

.switch:hover {
  background-color: #f8f8f8;
}
