.markdowncontainer {
  font-size: 17px;
  line-height: 27px;
  color: #8b8b8b;
  user-select: none;
  overflow-y: auto;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: #f8f8f8;
}

.markdowncontainer h4 {
  color: #888;
  font-weight: 500;
}

.markdowncontainer ul {
  font-size: 16px;
}

.markdowncontainer pre {
  margin: 0px;
  user-select: text;
}

.markdowncontainer pre::-webkit-scrollbar {
  /* 隐藏滚动条 */
  display: none;
}

.markdowncontainer code {
  font-size: 16px;
}
