.bgmodal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.05);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.arrow {
  width: 100px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.card {
  width: 520px;
  /* max-width: 720px; */
  max-height: 90vh;
  box-sizing: border-box;
  padding: 44px 0px 42px;
  border-radius: 10px;
  background-color: #ffffff;
  /* box-shadow: 0 10px 69px rgba(0, 0, 0, 0.05); */

  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
  transition: all 0.5s ease;
  /* overflow: hidden; */
}

.headerrow {
  padding: 0px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mainhashinput {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ffffff;
  font-size: 23px;
  color: #4e4e4e;
  font-weight: medium;
  transition: all 0.3s ease;
}
.mainhashinput:hover {
  /* background-color: #fafafa; */
  border: 1px solid #00a1d6;
}

.mainhashinput:focus {
  color: #000000;
}

.mainhashinput::placeholder {
  font-size: 23px;
  color: #8b8b8b;
}

.contentinput {
  resize: none;
  /* width: 520px; */
  width: 454px;
  border-radius: 4px;
  max-height: 75vh;
  margin: 10px 33px 13px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #ffffff;
  font-size: 17px;
  line-height: 27px;
  color: #8b8b8b;
  overflow-y: auto;
  transition: all 0.3s ease;
}

.contentinput:focus {
  color: #000000;
}

.contentinput:hover {
  border: 1px solid #00a1d6;
}
