.card {
  min-width: 360px;
  max-width: 520px;
  /* box-sizing: border-box; */
  /* padding: 44px 46px 42px; */
  border-radius: 10px;
  background-color: #ffffff;
  /* box-shadow: 0 10px 69px rgba(0, 0, 0, 0.05); */

  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
  transition: all 0.5s ease;
  /* overflow: hidden; */
}

.card:hover {
  box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
  transition: all 0.3s ease;
  transform: translate3D(0, -1px, 0);
}
