.cover {
  /* width保证大图小图都不会溢出或过短*/
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  user-select: none;
}

.mainbox {
  padding: 0 46px;
}

.headerrow {
  margin-top: 33px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
