.card {
  min-width: 440px;
  max-width: 600px;
  box-sizing: border-box;
  padding: 44px 46px 42px;
  border-radius: 10px;
  background-color: #ffffff;
  /* box-shadow: 0 10px 69px rgba(0, 0, 0, 0.05); */

  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
  transition: all 0.5s ease;
}

.card:hover {
  box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
  transition: all 0.3s ease;
  transform: translate3D(0, -1px, 0);
}

.headerrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.header {
  font-size: 23px;
  font-weight: medium;
  color: #4e4e4e;
  user-select: none;
}

.content {
  margin-top: 24px;
  font-size: 17px;
  line-height: 27px;
  color: #8b8b8b;
  user-select: none;
}

.footer {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dot {
  transform: rotate(15deg);
  width: 14px;
  height: 14px;
  border-radius: 7px;
  opacity: 0.65;
}

.dotuser {
  background-image: linear-gradient(#6b9eb8, #373e54);
}

.dotlike {
  background-image: linear-gradient(#82a2f9, #2f58d0);
}

.dotcollect {
  background-image: linear-gradient(#a4a8b4, #2f58d0);
}

.footertext {
  margin-left: 7px;
  font-size: 15px;
  line-height: 20px;
  color: #8b8b8b;
  user-select: none;
}

.gotoright {
  margin-left: auto;
}

.space_left {
  margin-left: 18px;
}
