.card {
  width: 446px;
  height: 282px;
  box-sizing: border-box;
  padding: 28px 30px 52px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 10px 69px rgba(0, 0, 0, 0.05);
}

.userbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  cursor: pointer;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  user-select: none;
}

.userinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: auto;
  display: flex;
}

.username {
  cursor: pointer;
  margin-bottom: 3px;
  font-size: 16px;
  color: #131721;
  user-select: none;
}

.usertitle {
  font-size: 14px;
  color: #858997;
  user-select: none;
}

.countbox {
  padding: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.counttext {
  font-size: 15px;
  color: #8b8b8b;
  user-select: none;
}

.buttonbox {
  padding: 8px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  cursor: pointer;
  outline: none;
  width: 94px;
  height: 36px;
  border-radius: 10px;
  font-size: 17px;
}

.btnfollow {
  z-index: 1;
  position: relative;
  border: none;
  overflow: hidden;
}

.btnfollowbg {
  position: absolute;
  z-index: -1;
  bottom: -95px;
  right: -45px;
  width: 200px;
  height: 200px;
  background-image: linear-gradient(#465de2, #518eaa);
  transform: rotate(-45deg);
}

.btnfollowtext {
  z-index: 2;
  color: #ffffff;
  user-select: none;
}

.btnmessage {
  color: #223333;
  background-color: #ffffff;
  border: 1px solid #223333;
  user-select: none;
}
