.card {
  width: 440px;
  height: 379px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 30px 46px 40px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 10px 69px rgba(0, 0, 0, 0.05);
}

.part {
  width: 100%;
}

.logorow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  margin-left: 16px;
  width: 119px;
  user-select: none;
}

.header {
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 23px;
  color: #4e4e4e;
  user-select: none;
}

.content {
  font-size: 17px;
  color: #8b8b8b;
  user-select: none;
}

.gotoright {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
